@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/list-group.less";
@import "../bower_components/bootstrap/less/buttons.less";

html,
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%; // Required for sticky footer
}

a {
  color: #00B7FF;
}


//** Foot stuff **
#bottomHorizontalRule {
  margin-top: 10px;
  margin-bottom: 10px;
}

#wrap{
  min-height: 100%;
  /* the bottom margin is the negative value of the footer's height plus horizontal rule bottom margin*/
  margin: 0 auto -50px;
}

#push,
#stickyFooter{
  /* .push must be the same height as .footer */
  height: 40px;
}
//** End footer stuff**

.workitemContent {
  cursor: text;
  display: block;
  min-height: 23px;
  line-height: 23px;
  padding-left: 5px;
}

//** Workitem tree stuff **
.btn {
  margin-right: 5px;
  float:left;
}

.glyphForExpander{
  margin-top: 3px;
  margin-left: 2px;
}

.angular-ui-tree-handle {
  background: #f8faff;
  border: 0px solid #dae2ea;
  color: #7c9eb2;
  padding: 5px 5px 5px 5px;
  display:block;
  float: none;
}

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
  padding-right: 30px;
  background-image: url('/images/moveHandle.png');
  background-position: right;
  background-repeat: no-repeat;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
//** End Workitem tree stuff **



//** Next Actionable list stuff **
.nextActionableArea {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #c9f0d2;
  border-radius: 15px;
}

.nextActionableList {
  .list-group;
}

.nextActionableItem {
  .list-group-item;
}
.nextActionableItem:hover {
  .list-group-item.active;
}
//** End Next Actionable list stuff **