<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0"
           data-nodrag ng-click="toggle(this)">
            <span data-nodrag class="glyphicon glyphForExpander"
                  ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
            </span>
        </a>
        <workitem ng-model="node"
                  has-focus="$nodeScope.depth() === 1"></workitem>
        <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>-->
        <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>-->
    </div>
    <workitem-tree-bough ng-Model="node"></workitem-tree-bough>
</script>
<div ui-tree id="tree-root">
    <workitem-tree-bough ng-Model="node"></workitem-tree-bough>
</div>



